<a href="https://colab.research.google.com/github/marcebalzarelli/Proyecto-Individual-HENRY-N-1-Machine-Learning/blob/main/Limpieza%20de%20Data%20/%20PI_uni%C3%B3n_movies_y_credits.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [3]:
# ABRO DATAFRAME MOVIES
ruta_archivo = '/content/drive/MyDrive/DATAFRAME FINAL DE ARCHIVO DE MOVIES.csv'
# Leer el archivo CSV y crear un DataFrame de movies
df_movies = pd.read_csv(ruta_archivo)

In [ ]:
df_movies.head(3)

In [4]:
# ABRO DATAFRAME CREDITS
ruta_archivo = '/content/drive/MyDrive/df_credits_limpio.csv'
# Leer el archivo CSV y crear un DataFrame de credits
df_credits = pd.read_csv(ruta_archivo)

In [5]:
# Realizo unión de los dataframes
df_merged = pd.merge(df_movies, df_credits, on='id', how='outer')

In [6]:
df_merged.head(3)

,belongs_to_collection,budget,genres,id,original_language,overview,popularity,production_companies,production_countries,release_date,...,tagline,title,vote_average,vote_count,release_year,return,DiaSemana,Mes,cast,crew
0,Toy Story Collection,30000000.0,"['Animation', 'Comedy', 'Family']",862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,['Pixar Animation Studios'],['United States of America'],1995-10-30,...,NaN,Toy Story,7.7,5415.0,1995.0,12.451801,Lunes,Octubre,"['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...","['John Lasseter', 'Joss Whedon', 'Andrew Stant..."
1,NaN,65000000.0,"['Adventure', 'Fantasy', 'Family']",8844,en,When siblings Judy and Peter discover an encha...,17.015539,"['TriStar Pictures', 'Teitler Film', 'Intersco...",['United States of America'],1995-12-15,...,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995.0,4.043035,Viernes,Diciembre,"['Robin Williams', 'Jonathan Hyde', 'Kirsten D...","['Larry J. Franco', 'Jonathan Hensleigh', 'Jam..."
2,Grumpy Old Men Collection,0.0,"['Romance', 'Comedy']",15602,en,A family wedding reignites the ancient feud be...,11.712900,"['Warner Bros.', 'Lancaster Gate']",['United States of America'],1995-12-22,...,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995.0,0.000000,Viernes,Diciembre,"['Walter Matthau', 'Jack Lemmon', 'Ann-Margret...","['Howard Deutch', 'Mark Steven Johnson', 'Mark..."

In [7]:
##UBICO id COMO PRIMER COLUMNA
# Extraigo la columna específica y la guardo en una variable
columna = df_merged.pop('id')

# Inserto la columna en primer lugar
df_merged.insert(0, 'id', columna)

In [8]:
df_merged.head(3)

,id,belongs_to_collection,budget,genres,original_language,overview,popularity,production_companies,production_countries,release_date,...,tagline,title,vote_average,vote_count,release_year,return,DiaSemana,Mes,cast,crew
0,862,Toy Story Collection,30000000.0,"['Animation', 'Comedy', 'Family']",en,"Led by Woody, Andy's toys live happily in his ...",21.946943,['Pixar Animation Studios'],['United States of America'],1995-10-30,...,NaN,Toy Story,7.7,5415.0,1995.0,12.451801,Lunes,Octubre,"['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...","['John Lasseter', 'Joss Whedon', 'Andrew Stant..."
1,8844,NaN,65000000.0,"['Adventure', 'Fantasy', 'Family']",en,When siblings Judy and Peter discover an encha...,17.015539,"['TriStar Pictures', 'Teitler Film', 'Intersco...",['United States of America'],1995-12-15,...,Roll the dice and unleash the excitement!,Jumanji,6.9,2413.0,1995.0,4.043035,Viernes,Diciembre,"['Robin Williams', 'Jonathan Hyde', 'Kirsten D...","['Larry J. Franco', 'Jonathan Hensleigh', 'Jam..."
2,15602,Grumpy Old Men Collection,0.0,"['Romance', 'Comedy']",en,A family wedding reignites the ancient feud be...,11.712900,"['Warner Bros.', 'Lancaster Gate']",['United States of America'],1995-12-22,...,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,6.5,92.0,1995.0,0.000000,Viernes,Diciembre,"['Walter Matthau', 'Jack Lemmon', 'Ann-Margret...","['Howard Deutch', 'Mark Steven Johnson', 'Mark..."

In [10]:
# Eliminar las filas con valores nulos en la columna cast
df_merged = df_merged.dropna(subset=['cast'])

In [11]:
# Eliminar las filas con valores nulos en la columna crew
df_merged = df_merged.dropna(subset=['crew'])

In [12]:
# Verificar los valores nulos en una columna cast
column_name = 'cast'
null_values = df_merged[column_name].isnull().sum()

# Mostrar el número de valores nulos en la columna
print(f"Número de valores nulos en la columna '{column_name}': {null_values}")

Número de valores nulos en la columna 'cast': 0

In [13]:
# Verificar los valores nulos en una columna crew
column_name = 'crew'
null_values = df_merged[column_name].isnull().sum()

# Mostrar el número de valores nulos en la columna
print(f"Número de valores nulos en la columna '{column_name}': {null_values}")

Número de valores nulos en la columna 'crew': 0

In [ ]:
print(df_merged)

In [15]:
# Guardo el dataset final limpio

df_merged.to_csv('df_final_limpio.csv', index=False)

In [16]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [17]:
# GUARDO EN DRIVE EL DATAFRAME FINAL LIMPIO
df_merged.to_csv('/content/drive/MyDrive/df_final_limpio.csv', index=False)