<a href="https://colab.research.google.com/github/marcebalzarelli/Proyecto-Individual-HENRY-N-1-Machine-Learning/blob/main/Limpieza%20de%20Data%20/%20PI_Limpieza_credits.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import ast
import json

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
ruta_archivo = '/content/drive/MyDrive/credits.csv'
df= pd.read_csv(ruta_archivo)

In [4]:
df.head(3)

,cast,crew,id
0,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de...",862
1,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...",8844
2,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de...",15602

In [5]:
# Obtengo las columnas actuales del DataFrame
columnas_actuales = df.columns.tolist()

# Defino el nuevo orden de las columnas
nuevo_orden = ['id', 'cast', 'crew']

# Reordeno las columnas del DataFrame
df = df[nuevo_orden]

In [6]:
df.head(3)

,id,cast,crew
0,862,"[{'cast_id': 14, 'character': 'Woody (voice)',...","[{'credit_id': '52fe4284c3a36847f8024f49', 'de..."
1,8844,"[{'cast_id': 1, 'character': 'Alan Parrish', '...","[{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de..."
2,15602,"[{'cast_id': 2, 'character': 'Max Goldman', 'c...","[{'credit_id': '52fe466a9251416c75077a89', 'de..."

In [7]:
# Los campos estan anidados deberan ser desanidados para unirlos al dataset
# Para las listas

def fetch_name(obj):
    if isinstance(obj,str) and '{' in obj:
        s = []
        for i in ast.literal_eval(obj):
            s.append(i['name']);
        return s

In [8]:
#Aplico
df['cast'] = df['cast'].apply(fetch_name)
df['crew'] = df['crew'].apply(fetch_name)

In [9]:
df.head(3)

,id,cast,crew
0,862,"[Tom Hanks, Tim Allen, Don Rickles, Jim Varney...","[John Lasseter, Joss Whedon, Andrew Stanton, J..."
1,8844,"[Robin Williams, Jonathan Hyde, Kirsten Dunst,...","[Larry J. Franco, Jonathan Hensleigh, James Ho..."
2,15602,"[Walter Matthau, Jack Lemmon, Ann-Margret, Sop...","[Howard Deutch, Mark Steven Johnson, Mark Stev..."

In [10]:
# Guardo dataset limpio

df.to_csv('df_credits_limpio.csv', index=False)

In [11]:
#GUARDAR DATAFRAME CREDITS LIMPIO EN DRIVE
df.to_csv('/content/drive/MyDrive/df_credits_limpio.csv', index=False)